:root {
  --tropical-violet: #a249a469;
  --tropical-blue: #00b4d865;
  --tropical-yellow: #ffd23f64;
  --tropical-green: #30df507a;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

body {
  background: url("./bg.jpg") center no-repeat;
  background-size: 175% auto;
}

h2 {
  margin: 0;
  padding: 2rem;
  text-shadow: black 3px 3px 15px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center center;
  max-width: 650px;
  margin: auto auto;
}

main > div {
  width: 300px;
  height: 300px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(248, 248, 248, 0.532);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.5s ease;
  transition: 0.5s ease;
}

main > div:nth-child(1) {
  background: var(--tropical-violet); /* semi-transparent red */
}
main > div:nth-child(1):hover {
  box-shadow: 0 0px 80px var(--tropical-violet);
}

main > div:nth-child(2) {
  background: var(--tropical-blue); /* semi-transparent red */
}
main > div:nth-child(2):hover {
  box-shadow: 0 0px 80px var(--tropical-blue);
}

main > div:nth-child(3) {
  background: var(--tropical-green); /* semi-transparent red */
}

main > div:nth-child(3):hover {
  box-shadow: 0 0px 80px var(--tropical-green);
}

main > div:nth-child(4) {
  background: var(--tropical-yellow); /* semi-transparent red */
}

main > div:nth-child(4):hover {
  box-shadow: 0 0px 80px var(--tropical-yellow);
}

div:hover {
  cursor: pointer;
  transform: perspective(900px) rotateY(5deg);
}

.selected {
  transform: scale(85%);
}

.noClick {
  pointer-events: none;
}

section {
  display: grid;
}

button {
  width: 125px;
  height: 50px;
  margin: 30px auto;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.068);
  border: 1px solid rgba(248, 248, 248, 0.532);
  transition: 0.5s ease;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.396);
}

button:hover {
  transform: perspective(300px) rotateY(5deg);
  cursor: pointer;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.318);
}

.buttonFade {
  animation: fade 0.3s ease-in-out forwards;
}

.hide {
  display: none;
}

@keyframes fade {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}
